<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> web.model</th>
        <th> Year </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.empty}">
        <td colspan="2"> No Cars Available </td>
    </tr>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.model}"> web.model </span></td>
        <td><span th:text="${car.year}"> Year </span></td>
        <td><span th:text="${car.price}"> Price </span></td>

    </tr>
    </tbody>
</table>

</body>
</html>